.cardContainer {
    width: 160px;
    min-width: 160px;
    height: 50px;
    min-height: 50px;
    background-color: #ea5b0c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.6rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
}