.cardContainer {
    width: 220px;
    min-width: 220px;
    height: 130px;
    min-height: 130px;
    background-color: #ea5b0c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1.2rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.data {
    color: #ffffff;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}