.cardContainer {
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 150px;
    background-color: #ea5b0c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1.2rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.4rem;
}

.data {
    color: #ffffff;
    font-size: 1.15rem;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.buttonTaught {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}